{#
/**
 * DS Back To Top plugin for Craft CMS 3.x
 *
 *
 * @author    Dotsquares
 * @copyright Copyright (c) 2021 Dotsquares
 * @link      https://www.dotsquares.com/
 
 */
 #}

{% import "_includes/forms" as forms %}


{{ forms.checkboxField({
    label: 'Back To Top',
    id: 'global',
    name: 'onsite',
    checked: settings.onsite,
}) }}
<p class="sub">Hide button so unselect checkbox.</p><hr/>


{{ forms.autosuggestField({
    label: "Background Color",
    id: 'bgcolor',
    name: 'bgcolor',
    value: settings.bgcolor,
    placeholder: 'Default Blank Color',
    type: 'text',
}) }}

<p class="sub">Add background color of button. You can also add red, blue ext. color name.</p>
<hr/>
{{ forms.autosuggestField({
    label: "Background Height",
    id: 'bgheight',
    name: 'bgheight',
    value: settings.bgheight,
    placeholder: 'Change Background Height',
    type: 'text',
}) }}
<p class="sub">Add background Height of button. You can also add 1px, 2px exp.</p>
<hr/>
{{ forms.autosuggestField({
    label: "Background Width",
    id: 'bgwidth',
    name: 'bgwidth',
    value: settings.bgwidth,
    placeholder: 'Change Background Width',
    type: 'text',
}) }}
<p class="sub">Add background Width of button. You can also add 1px, 2px exp.</p>
<hr/>
{{ forms.autosuggestField({
    label: "Font Size",
    id: 'fontsize',
    name: 'fontsize',
    value: settings.fontsize,
    placeholder: 'Change Font Size',
    type: 'text',
}) }}

<hr/>
{{ forms.autosuggestField({
    label: "Hover Color",
    id: 'hovercolor',
    name: 'hovercolor',
    value: settings.hovercolor,
    placeholder: 'Change Hover Color',
    type: 'text',
}) }}

<hr/>
{{ forms.autosuggestField({
    label: "Scroll Duration Time",
    id: 'scrollduration',
    name: 'scrollduration',
    value: settings.scrollduration,
    placeholder: 'Change Scroll Duration Time',
    type: 'text',
}) }}
<p class="sub">Change Scroll Duration Time. You can also add 500, 1000 exp.</p>
<hr/>
{{ forms.autosuggestField({
    label: "Back to Top Postion",
    id: 'position',
    name: 'position',
    value: settings.position,
    placeholder: 'Change left, right Postion',
    type: 'text',
}) }}

<p class="sub">Change Back To Top Left, Right Postion.</p>
<hr/>
<p class="sub">Select Label Type To Different Design.</p>

{{ forms.selectField({
    options :[
     {optgroup:'Label Type'},
     {label : 'Select Label Type', value: ''},
     {label : 'Label Type 1', value: 'labeltype1'},
     {label : 'Label Type 2', value: 'labeltype2'},
     {label : 'Label Type 3', value: 'labeltype3'},
     {label : 'Label Type 4', value: 'labeltype4'},
     
    ],
    name: 'select',
    value : settings.select,
})}}






